:root {
  --color-brightOrange: hsl(31, 77%, 52%);
  --color-darkCyan: hsl(184, 100%, 22%);
  --color-veryDarkCyan: hsl(179, 100%, 13%);
  --color-transparentWhite: hsla(0, 0%, 100%, 0.75);
  --color-veryLightGray: hsl(0, 0%, 95%);
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Lexend Deca", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

h1 {
  color: var(--color-veryLightGray);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
}

p {
  color: var(--color-transparentWhite);
}

/* Card */
.container {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 1.5rem;
  overflow: hidden;
}

.card {
  padding: 3.8rem;
}

.card-header {
  text-transform: uppercase;
  margin: 2.5rem 0;
}

.card-body {
  line-height: 3rem;
}

.card-one {
  background-color: var(--color-brightOrange);
}

.card-two {
  background-color: var(--color-darkCyan);
}

.card-three {
  background-color: var(--color-veryDarkCyan);
}

@media screen and (min-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
    padding: 0;
  }

  .card-container {
    flex-direction: row;
    height: 500px;
    width: 950px;
  }

  .card-body {
    min-height: 200px;
  }
}

/* Button */
.btn {
  display: block;
  width: auto;
  height: 4.5rem;
  border-radius: 2.5rem;
  margin-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: 0;
}

.btn-one {
  color: var(--color-brightOrange);
  background-color: var(--color-transparentWhite);
  transition: 0.2s;
}

.btn-one:hover,
.btn-one:active {
  color: var(--color-transparentWhite);
  background-color: var(--color-brightOrange);
  border: 2px solid var(--color-transparentWhite);
}

.btn-two {
  color: var(--color-darkCyan);
  background-color: var(--color-transparentWhite);
  transition: 0.2s;
}

.btn-two:hover,
.btn-two:active {
  color: var(--color-transparentWhite);
  background-color: var(--color-darkCyan);
  border: 2px solid var(--color-transparentWhite);
}

.btn-three {
  color: var(--color-veryDarkCyan);
  background-color: var(--color-transparentWhite);
  transition: 0.2s;
}

.btn-three:hover,
.btn-three:active {
  color: var(--color-transparentWhite);
  background-color: var(--color-veryDarkCyan);
  border: 2px solid var(--color-transparentWhite);
}

@media screen and (min-width: 768px) {
  .btn {
    margin-top: 5rem;
  }
}
